
        body {
            background-color: #ffffff;
        }

        .navbar {
            background-color: #280C0D;
        }

        .navbar-brand {
            color: #ffffff;
        }

        .navbar-nav .nav-link {
            color: #ffffff;
        }

        .card {
            margin-top: 20px;
        }


